.login-container {
  background: linear-gradient(135deg, #1E3A5F,#1E3A5F); /* Gradient background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 320px; /* Adjusted width to accommodate inputs */
  margin: 150px auto;
  text-align: center;
  color: white; /* Text color for contrast */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center everything inside the container */
}

h2 {
  margin-bottom: 20px;
}

form {
  width: 100%; /* Ensure form takes full width of container */
}

.form-group {
  margin-bottom: 15px;
  width: 100%; /* Ensure inputs take full width of container */
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left; /* Align labels to the left for clarity */
}

input {
  width: 100%; /* Ensure input fields are full width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0; /* Remove extra margin for proper alignment */
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #1E3A5F;
  box-shadow: 0 0 5px rgba(5, 40, 100, 0.5);
}

.btn {
  width: 100%; /* Button takes full width of the container */
  padding: 10px;
  background-color:white;
  color:white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
}

body {
  background: url('./assets/background.jpg') no-repeat center center fixed;
  background-size: cover;

}

.login-container button{
  background-color: rgb(16, 224, 232);
}